$sm: '640px';
$md: '768px';
$lg: '1024px';
$xl: '1280px';
$xxl: '1440px';

$font-primary: 'Montserrat', 'Helvetica', 'Arial', sans-serif;

$color-black: #212529;
$color-white: #fff;

$grey-lighten-4: #f5f5f5;

$base-color: $color-black !default;
$background-color: $grey-lighten-4 !default;
